<!DOCTYPE html>
<html lang="en">

<head>
	<title>GridFTP Transfer Service</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<style>
		.hidden {
			display: none;
		}
	</style>

</head>

<body>
	<header class="page-header " style="background-color:  	#f3edf9">
			<form class="p-r-5 p-t-5">
					<input class="pull-right btn btn-info " type="button" value="Disconnect" onclick="window.location.href='http://<%=sourceIp.replace(' ', '')%>:8080/ '" />
			</form> 
		
			<% if (typeof status != "undefined") { %>
				<p class="fs-25 " style="color:black;">Status:
					<%= status %>
				</p>

				<%} %>
		
	</header>
	<div class="limiter">
		<div class="container-login100 ">
			<div class="gridftp-table ">

				<div>
					<h2>Local site:
						<%= sourceHostName %>
							</h1>
							<h2>IP:
								<%= sourceIp %>
							</h2>
							<br>
							<br>
							<br>
							
							<form action="/upload" method="post">
								<ul>
									<input type="hidden" name="sourceName" value=<%=sourceHostName %>>
									<input type="hidden" name="sourceIp" value=<%=sourceIp %>>
									<input type="hidden" name="desName" value=<%=desName %>>
									<input type="hidden" name="desIp" value=<%=desIp %>>
									

									<table class="table table-hover table-bordered">
										<thead>
											<tr class="table-primary">
												<th scope="col">Select</th>
												<th scope="col">#</th>
												<th scope="col">Filename</th>
												<th scope="col">Filesize</th>
											</tr>
										</thead>



										<tbody>
											<% var index = 1%>
												<% Object.keys(fileList).forEach(function(fileName){ %>
													
														<tr>
															<th scope="row">
																<input type="radio" name="sourceFile" id="sourceFile" <% if (index == 1) {%> checked="checked" <% } %> value='{"fileName": "<%= fileName %>", "fileSize": "<%= fileList[fileName] %>"}' > </th>
																
															<td>
																<%= index %>
															</td>
															<td>
																<% %>
																<%= fileName %>
															</td>
															<td>
																<%= fileList[fileName] %>
															</td>
														</tr>
														


																<% index = index + 1; %>
																	<% }) %>

										</tbody>

								</ul>





								</table>
								<center>
									<button id="upload" type="submit" class="btn btn-success">Upload</button>
									<button id="delete" type="submit" formaction="/local_delete" class="btn btn-danger">Delete</button>
								</center>
							</form>
							<hr>

							<!-- <% if (typeof status != "undefined") { %>
								<p class="fs-25" style="color:black;">Status:
									<%= status %>
								</p>

								<%} %> -->

									<img src="images/loading.gif" class="hidden" id="loading">
				</div>

				<div>
					<h2>Remote site:
						<%= desName %>
							</h1>
							<h2>IP:
								<%= desIp %>
							</h2>
							<br>
							<br>
							<br>

							<form action="/Download" method="post">
								<ul>
									<input type="hidden" name="sourceName" value=<%=sourceHostName %>>
									<input type="hidden" name="sourceIp" value=<%=sourceIp %>>
									<input type="hidden" name="desName" value=<%=desName %>>
									<input type="hidden" name="desIp" value=<%=desIp %>>

									<table class="table table-hover table-bordered">
										<thead>
											<tr class="table-primary">
												<th scope="col">Select</th>
												<th scope="col">#</th>
												<th scope="col">Filename</th>
												<th scope="col">Filesize</th>
											</tr>
										</thead>



										<tbody>
											<% var index = 1%>
												<% Object.keys(desFileList).forEach(function(fileName){ %>

													
														<tr>
															<th scope="row">
																<input type="radio" name="sourceFile" id="sourceFile"  <% if (index == 1) {%> checked="checked" <% } %> value='{"fileName": "<%= fileName %>", "fileSize": "<%= desFileList[fileName] %>"}'  > </th>
															<td>
																<%= index %>
															</td>
															<td>
																<%= fileName %>
															</td>
															<td>
																<%= desFileList[fileName] %>
															</td>
														</tr>
														

																<% index = index + 1; %>
																	<% }) %>

										</tbody>

								</ul>
								
								</table>
								<center>
									<button id="download" type="submit" class="btn btn-success">Download</button>
									<button id="delete" type="submit" formaction="/remote_delete" class="btn btn-danger">Delete</button>

								</center>
							</form>

							<hr>
				</div>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})

		$.fn.center = function () {
			this.css("position", "absolute");
			this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
			this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
			return this;
		}
		$("#upload").on("click", function () {
			$("#loading").fadeIn().center();
		});

		$("#download").on("click", function () {
			$("#loading").fadeIn().center();
		});
		
		// var socket = io()
		// socket.on('talk', function (message) {
		// 	alert(`hello ${message}`);
		// })
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<footer>
		<p>Web Application for Expresslane Project</p>
	</footer>
</body>

</html>